@use "../global/variable.scss" as var;

.button {
  padding: 15px 15px 13px 15px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var.$charcoal;
  background-color: var.$transparent;
  border: 2px solid var.$charcoal;

  @media (min-width: var.$tablet-width) {
    font-size: 17px;
  }
}
