@use "../global/variable.scss" as var;

.hero {
  @media (min-width: var.$tablet-width) {
    position: relative;
    margin: -66px 0 0 0;
    border-top: 1px solid rgba(var.$black, 0.1);

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      width: 100%;
      height: 24px;
      background-image: url("../img/sprite.svg#hero-mask-tablet");
      background-repeat: repeat-x;
      background-position: center;
      z-index: 4;
    }
  }

  @media (min-width: 870px) {
    &::after {
      height: 34px;
      bottom: -11px;
      background-image: url("../img/sprite.svg#hero-mask-desktop");
    }
  }
}

.hero__wrapper {
  padding: 70px 0 193px 0;
  background-color: var.$white-smoke;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top -20px center;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: var.$tablet-width) {
    padding: 154px 0 491px 0;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: top 0 center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 158px 0 474px 0;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.hero__title {
  margin: 0;
  padding: 0 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: var.$black;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    max-width: 668px;
    margin: 0 auto;
    padding: 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 720px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__break {
  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.hero__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: -72px 0 0 0;
  padding: 0;
  list-style: none;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -119px 0 0 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: -120px 0 0 0;
  }
}

.hero__item {
  position: relative;
  width: auto;
  margin: 0 -30px;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &:active {
    transform: translateY(0);
  }

  &:nth-child(odd) {
    background-color: var.$downy;

    &:hover {
      background-color: var.$downy-2;
    }

    &:active {
      background-color: var.$downy-2;
    }
  }

  &:nth-child(even) {
    background-color: var.$puerto-rico;

    &:hover {
      background-color: var.$puerto-rico-2;
    }

    &:active {
      background-color: var.$puerto-rico-2;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--interior {
    &::after {
      right: 36px;
      width: 40px;
      height: 62px;
      background-image: url("../img/sprite.svg#icon-interior");
    }
  }

  &--toy {
    &::after {
      right: 27px;
      width: 60px;
      height: 60px;
      background-image: url("../img/sprite.svg#icon-toy");
    }

    @media (min-width: var.$tablet-width) {
      &::after {
        right: 33px;
      }
    }
  }

  @media (min-width: var.$tablet-width) {
    width: 50%;
    margin: 0;
  }
}

.hero__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px 160px 31px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var.$white;

  @media (min-width: var.$tablet-width) {
    padding: 25px 160px 40px 36px;
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__text {
  display: block;
  max-width: 130px;
}
