@use "../global/variable.scss" as var;

.input {
  padding: 15px 35px 15px 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: var.$charcoal;
  border-bottom: 2px solid var.$black;
  transition: 0.3s ease-out;

  &::placeholder {
    color: rgba(var.$black, 0.3);
  }

  &:hover {
    border-color: var.$downy;
  }

  &:active {
    border-color: var.$downy;
  }
}
