@use "../global/variable.scss" as var;

.main-nav {
  position: relative;

  @media (min-width: var.$tablet-width) {
    display: grid;
    grid-template-columns: 50px minmax(316px, 1fr) minmax(350px, 1fr) 50px;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: 1fr 450px 150px 450px 1fr;
  }

  &::after {
    @media (min-width: var.$tablet-width) {
      content: "";
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      background-color: var.$snow;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      z-index: -1;
      border-top: 1px solid var.$whisper-2;
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  padding: 28px 30px 27px 76px;

  @media (max-width: var.$mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 1px;
      width: 100%;
      background-color: var.$whisper;
    }
  }

  @media (min-width: var.$tablet-width) {
    max-width: 265px;
  }
}

.main-nav__link {
  display: block;
  height: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: var.$black;
  transition: 0.3s ease-out;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: relative;
  margin: 0 30px 0 auto;
  width: 20px;
  height: 14px;
  cursor: pointer;
  background-color: transparent;
  border: none;

  @media (min-width: var.$tablet-width) {
    display: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.main-nav__toggle-line {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var.$aubergine;
  transition: 0.3s ease-out;

  &:nth-child(1) {
    top: -4px;
  }

  &:nth-child(2) {
    top: 2px;
  }

  &:nth-child(3) {
    top: 2px;
  }

  &:nth-child(4) {
    top: 8px;
  }
}
