@use "../global/variable.scss" as var;

.title {
  margin: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: var.$desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
