@use "../global/variable.scss" as var;

.video {
  display: flex;
  flex-direction: column;
  margin: 0 0 58px 0;
  padding: 22px 0 33px 0;
  border: 1px solid var.$whisper;

  @media (min-width: var.$tablet-width) {
    padding: 0 0 50px 0;
  }

  @media (min-width: var.$desktop-width) {
    display: grid;
    grid-template-columns: 683px 1fr;
    column-gap: 80px;
    padding: 0;
    margin: 0 0 102px 0;
  }
}

.video__picture-wrapper {
  position: relative;
  margin: 0 0 30px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 0 39px 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 0;
  }
}

.video__title-wrapper {
  display: flex;
  align-items: center;
  margin: 0 0 27px 34px;
  order: -1;

  @media (min-width: var.$tablet-width) {
    order: unset;
    margin: 0 0 27px 40px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    flex-direction: column;
    align-items: start;
    margin: 47px 0 27px 0;
  }
}

.video__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  color: var.$black;

  @media (min-width: var.$tablet-width) {
    font-size: 20px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 178px;
  }
}

.video__icon {
  min-width: 32px;
  margin: 0 25px 0 0;

  @media (min-width: var.$tablet-width) {
    margin: 0 33px 0 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 27px 0;
  }
}

.video__img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-sizing: content-box;
}

.video__button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var.$transparent;
  border: none;
}

.video__text-wrapper {
  margin: 0 33px 0 33px;

  @media (min-width: var.$tablet-width) {
    margin: 0 38px;
  }

  @media (min-width: var.$desktop-width) {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    margin: 0 57px 0 0;
  }
}

.video__lead {
  margin: 0 0 41px 0;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: var.$tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 0 50px 0;
  }
}
