/* Fonts */
$primary-font: "OpenSans", "Arial", sans-serif;

/* Breakpoints */

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

/* Colors */

$white: #ffffff;
$black: #000000;
$charcoal: #444444;
$whisper: #ececec;
$whisper-2: #e5e5e5;
$white-smoke: #f1f1f1;
$aubergine: #231f20;
$downy: #63d1bb;
$downy-2: #59d5bc;
$puerto-rico: #56c3b2;
$puerto-rico-2: #46c1ae;
$transparent: transparent;
